---
import "../styles/main.css"
import NavButton from "../components/NavButton.astro"
import Creations from "../components/Creations.astro"
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="/main/images/favicon-32x32.png">
  <title>Frontend Mentor | Loopstudios landing page</title>
  <!-- <link rel="stylesheet" href="/main/src/styles/main.css"> -->
  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
   <header>
    <div class="header-container">
      <a href="#home"><img src="/main/images/logo.svg" alt="" class="nav-logo logo"></a>
      <NavButton />
      <nav>
        <ul>
          <div class="nav-item">
            <li><a href="#about">About</a></li>
            <hr>
          </div>

          <div class="nav-item">
            <li>Careers</li>
            <hr>
          </div>

          <div class="nav-item">
            <li><a href="#events">Events</a></li>
            <hr>
          </div>
          
          <div class="nav-item">
            <li>Products</li>
            <hr>
          </div>
  
          <div class="nav-item">
            <li>Support</li>
            <hr>
          </div>
        </ul>
      </nav>
    </div>
  </header>
   
  <main>
    
    
    <section id="home">
      <picture>
        <source srcset="/main/images/desktop/image-hero.jpg" media="(width >= 768px)">
        <img src="/main/images/mobile/image-hero.jpg" alt="">
      </picture>
      <div class="absolute-content">
        <h1>Immersive experiences that deliver</h1>
      </div>
      
    </section>
    <article id="about">
      <picture>
        <source media="(width >= 768px)" 
        srcset="/main/images/desktop/image-interactive.jpg">
        <img src="/main/images/mobile/image-interactive.jpg" alt="">
      </picture>
      <section class="about__content">
        <h1>The leader in interactive VR</h1>
        <p>
          Founded in 2011, Loopstudios has been producing world-class virtual reality 
          projects for some of the best companies around the globe. Our award-winning 
          creations have transformed businesses through digital experiences that bind 
          to their brand.
        </p>
      </section>
    </article>
    <section id="events">
      <Creations />
    </section>
    <button class="see-all-bttn--mobile see-all-bttn ">See all</button>
  </main>
  <footer>
    <div class="footer__container">
      <a href="#home">
        <img src="/main/images/logo.svg" alt="" class="footer__logo logo">
      </a>
      <div class="social-icons--desktop social-icons">
        <img src="/main/images/icon-facebook.svg" alt="">
        <img src="/main/images/icon-twitter.svg" alt="">
        <img src="/main/images/icon-pinterest.svg" alt="">
        <img src="/main/images/icon-instagram.svg" alt="">
      </div>
    </div>
    <ul class="footer__nav--mobile footer__nav ">
      <div>
        <li><a href="#about">About</a></li>
        <hr>
      </div>

      <div>
        <li>Careers</li>
        <hr>
      </div>

      <div>
        <li><a href="#events">Events</a></li>
        <hr>
      </div>
      
      <div>
        <li>Products</li>
        <hr>
      </div>

      <div>
        <li>Support</li>
        <hr>
      </div>
    </ul>
    <div class="social-icons--mobile social-icons">
      <img src="/main/images/icon-facebook.svg" alt="">
      <img src="/main/images/icon-twitter.svg" alt="">
      <img src="/main/images/icon-pinterest.svg" alt="">
      <img src="/main/images/icon-instagram.svg" alt="">
    </div>
    <div class="footer__container">
      <ul class="footer__nav--desktop footer__nav ">
        <div>
          <li><a href="#about">About</a></li>
          <hr>
        </div>
  
        <div>
          <li>Careers</li>
          <hr>
        </div>
  
        <div>
          <li><a href="#events">Events</a></li>
          <hr>
        </div>
        
        <div>
          <li>Products</li>
          <hr>
        </div>
  
        <div>
          <li>Support</li>
          <hr>
        </div>
      </ul>
      <p class="footer__rights">Â© 2021 Loopstudios. All rights reserved.</p>
    </div>
    
  </footer>


  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div>
</body>
<script src="/src/js/script.js"></script>
</html>
